<div class="main top-main">
  <div class="top-message">
    <h2>新たな世界へ踏み出そう</h2>
    <p>今とは違う自分へ！</p>
  </div>

  <div class="menu">
    <div class="title"><span class="triangle">▶︎</span>Coordonnerとは
    <span class="about-show">アイテムを投稿 → 他ユーザーがコーディネートを提案</span>
    </div>
    <a href="/post/index" class="title"><span class="triangle">▶︎</span>投稿一覧</a>
  </div>

</div>
